* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 93px;
    background-color: #F8F9FF !important;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    margin: 0;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 99999 !important;
    box-shadow: 3px 3px 4px rgb(226, 226, 226);
    backdrop-filter: blur(14px);
}

.header-item+.header-item {
    margin-left: 44px;
}

.headers-item+.headers-item {
    margin-left: 34px;
}

.header-link {
    color: #323D64 !important;
    font-size: 18px !important;
}

.nav-item .active {
    color: #606FFA !important;
}

.nav-link {
    cursor: pointer;
}

.inputs-box {
    border: 1px solid #CDD2FF !important;
}


.inputd::placeholder {
    font-size: 18px !important;
}

.inputi::placeholder {
    font-size: 18px !important;
}

.inputt::placeholder {
    font-size: 18px !important;
}

.inputsSpan {
    border-right: 2px solid #CDD2FF;
}

/* PLATFORM CSS */
.platform-section_container {
    display: flex;
    flex-direction: column;
}

.platform-inputs {
    padding-top: 100px;
    width: 78%;
}

.platform-titles {
    padding-top: 100px;
    position: relative;
}

.platform-title-titles {
    color: #323D64;
    font-size: 106px;
    line-height: 152px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}

.platform-title-span {
    color: #606FFA;
}

.platform-section-span {
    padding-top: -10px !important;
}

.platform-titles-spans {
    position: absolute;
    right: 0;
}

.platform-titles-spans-right {
    position: absolute;
    right: 10%;
}

.platform-titles-spans-left {
    position: absolute;
    left: 10%;
}

/* ANALYTICAL CSS */

.analytical-section {
    padding-top: 120px;
}

.analytical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.analytical-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.analytical-item {
    border: 1px solid #CDD2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 30px;
}

.analytical-item+.analytical-item {
    margin-left: 10px;
}


.analytical-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


#analytical-box-img {
    border-radius: 30px;
    width: 164px;
    height: 164px;
}

.analytical-box-imgs {
    border-radius: 30px;
}

.card-text {
    font-size: 12px;
    color: rgb(154, 154, 154);
}

/* networks css */

.networks-section {
    padding-top: 120px;
    margin: 0;
}

.networks {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #CDD2FF;
    padding: 20px;
}

.networks_left {
    width: 25%;
    padding: 20px;
    border-right: 2px solid #cdcdcd;
}

.networks-list,
.networks-right-list {
    height: 500px;
    overflow-y: scroll;
    padding: 20px;
}

.networks-item {
    margin-bottom: 10px;
    border-top: 1px solid #cdcdcd;
    padding: 10px;
    margin-right: 10px;
}

.networks-item .active {
    background-color: #606FFA;
    color: #fff;
    border-radius: 30px;
    padding: 8px 25px;
    width: 100%;
}

.networks-button {
    text-align: start;
}

.networks_right {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.networks-right-top {
    display: flex;
    justify-content: end;
    padding: 0px 27px;
}


.networks-right-top>p {
    margin-left: 12px;
    padding: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.859);
}

.networks-right-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px;
    border-top: 1px solid #cdcdcd;
}

.networks-right-items {
    border: none;
}

/* Companies css */

.companies-section {
    padding-top: 110px;
}

.companies-title {
    font-weight: 700;
    font-size: 84px;
    line-height: 102px;
    text-align: center;
    color: #323D64;
    margin: 0;
    padding: 0;
}

.companies-desc {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #A8A8A8;
    margin: 0;
    padding-top: 20px;
}

.companies-list {
    padding-top: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.companies-item {
    margin-top: 22px;
}

.companies-item+.companies-item {
    margin-left: 23px;

}

.companies-item>img {
    width: 98px;
    height: 98px;
    cursor: pointer;
}

/* degree style */
.degree-section {
    padding-top: 110px;
}

.degree {
    border-radius: 20px;
    border: 1px solid #CDD2FF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.degree-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.degree-title {
    font-size: 36px;
    line-height: 43px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: #323D64;
    margin: 0;
    padding: 0;
}

.ulList {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #CDD2FF;
}

.degree-descs {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #323D64;
    margin: 0;
    padding: 0;
}

.degree-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.degree-item+.degree-item {
    margin-right: 64px;
}

.degree-descs {
    margin-right: 50px !important;
}

.degree-desc {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #323D64;
}

.degree-center {
    margin: 0;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}

.center-left {
    padding: 10px;
    margin: 0;
    max-height: 800px;
    overflow-y: scroll;
    max-width: 26%;
}

.center-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.center-item {
    margin-top: 13px;
    padding: 0;
}

.center-item+.center-item {
    margin-top: 40px;
}

.center-item:hover {
    background-color: #e6e6e6;
}

.center-item.center-iages {
    width: 191px;
    height: 58px;
}

.center-right {
    display: flex;
    justify-content: space-between;
}


.right-desc-center {
    margin: 0;
    padding-top: 74px;
    padding-left: 12px;
}

.right-desc-centera {
    padding-top: 35px !important;
}

.center-Tables {
    width: 940px;
    overflow-x: scroll;
    position: relative;
}

.table {
    width: 1200px;
}

.table tr td {
    border: 1px solid #e7e7e7;
    margin: 0;
    padding: 0;
}

td {
    width: 373px;
    height: 49px;
}

.table-desc {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 1px;
    position: absolute;
    top: 6%;
    left: 7%;
}

.tables-d {
    top: 18.5%;
    left: 70%;
    width: 260px;
}

.table-descs {
    top: 30.5%;
    left: 16%;
    width: 470px;
}

.tab-desc {
    top: 43%;
    left: 12%;
    width: 340px;
}

.table-des {
    top: 55%;
    left: 23%;
    width: 490px;
}

.table-descss {
    top: 67.3%;
    left: 55%;
    width: 400px;
}

.tables-desc {
    top: 79.5%;
    left: 47%;
    width: 280px;
}

.tables-descss {
    top: 91.8%;
    left: 9%;
    width: 490px;
}

.table-span-blue {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* founders style */
.founders-section {
    padding-top: 110px;
}

.founders {
    margin: 0;
    padding: 0;
}

.founders-title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    color: #323D64;
}

.founders-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 40px;
}

.founders-item {
    border-radius: 20px;
    width: 306px;
    height: 290px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    margin-top: 20px;
}

.founders-item+.founders-item {
    margin-left: 24px;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin: 0;
}

.founders-items-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #606FFA;
    margin: 0;
    padding-top: 20px;
}

.founders-items-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #888888;
    margin: 0;
    padding: 0;
}

.founders-desc {
    margin-right: 10px;
}

.founders-images {
    width: 128px;
    height: 128px;
}

.dounders-bottom {
    margin: 0;
    padding-top: 80px;
}

.founders-bottom-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.fonders-bottom-link {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #8E93C1;
}

/* footer style */
.footer {
    margin-top: auto;
    padding-top: 110px;
}

.footer-container {
    border-top: 1px solid #CDD2FF;
    padding: 25px 0px;
}

.footer-rubox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    width: 218px;
    height: 74px;
}

.footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item+.footer-item {
    margin-left: 40px;
}

.footer-titles {
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #323D64;
    margin: 0;
    padding: 0;
}

.footer-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #8E93C1;
    margin: 0;
    padding: 0;
}

.footer-list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #8E93C1;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1190px) {
    .platform-titles {
        padding-top: 60px;
    }

    .platform-title-titles {
        font-size: 50px;
        line-height: 100px;
    }
}

@media screen and (max-width:1025px) {
    .analytical-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .analytical-item {
        margin-top: 20px;
    }

    .card-title {
        font-size: 20px !important;
    }
}

@media screen and (max-width:769px) {
    .platform-titles {
        padding-top: 40px;
    }

    .platform-section-span>img {
        width: 50px !important;
    }

    .platform-titles-spans>img {
        width: 50px !important;
    }

    .platform-titles-spans-right>img {
        width: 50px !important;
    }

    .platform-titles-spans-left>img {
        width: 50px !important;
    }

    .card-title {
        font-size: 20px !important;
    }

    .card-text {
        font-size: 10px !important;
    }

    .networks {
        padding: 8px;
    }

    .networks_left {
        padding: 8px;
    }

    .networks-list,
    .networks-right-list {
        padding: 8px;
    }

    .networks-item {
        padding: 8px;
    }

    .networks-title {
        font-size: 14px !important;
        font-weight: 100;
    }

    .networks-right-item {
        padding: 8px;
    }

    .networke-right-title,
    .networks-heading {
        font-size: 13px !important;
    }

    .networks-desc,
    .networks-span-elements {
        font-size: 12px !important;
    }


    .companies-title {
        font-size: 54px;
        line-height: 70px;
    }

    .companies-desc {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width:582px) {
    .networks {
        display: flex;
        flex-direction: column;
    }

    .networks_left {
        width: 100%;
    }

    .networks_right {
        width: 100%;
    }

    .networks_left {
        border: none;
    }

    .footer-rubox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width:533px) {
    .analytical-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .analytical-item {
        height: 164px;
    }

    .analytical-item+.analytical-item {
        margin-top: 20px;
        margin-left: 0;
    }

    .analytical-box {
        width: 100%;
    }

    #analytical-box-img {
        width: 164px;
        height: 164px;
    }
}

@media screen and (max-width:501px) {
    .networks-title {
        font-size: 11px !important;
        font-weight: 100;
    }

    .networke-right-title,
    .networks-heading {
        font-size: 10px !important;
    }

    .networks-desc,
    .networks-span-elements {
        font-size: 9px !important;
    }

}

@media screen and (max-width:426px) {
    .platform-titles {
        padding-top: 20px;
    }

    .platform-title-titles {
        font-size: 40px;
        line-height: 60px;
    }

    .platform-inputs {
        padding-top: 70px;
        width: 100%;
    }

    .inputs-box {
        padding: 0 !important;
    }

    .inputs {
        padding: 8px !important;
        background-color: transparent;
    }

    .inputs-button {
        padding: 5px !important;
        margin: 0 !important;
        font-size: 14px !important;
    }

    .inputs-button>span.bi-search {
        font-size: 11px;
    }

    .companies-title {
        font-size: 34px;
        line-height: 50px;
    }

    .companies-desc {
        font-size: 13px;
        line-height: 18px;
    }

    .companies-item>img {
        width: 78px;
        height: 78px;
    }

}

@media screen and (max-width:376px) {
    .networks-title {
        font-size: 9px !important;
        font-weight: 100;
    }

    .networke-right-title,
    .networks-heading {
        font-size: 8px !important;
    }

    .networks-desc,
    .networks-span-elements {
        font-size: 8px !important;
    }

    .companies-item>img {
        width: 58px;
        height: 58px;
    }

}

/* width */
.networks-list::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.networks-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(74, 74, 248);
}

/* Handle */
.networks-list::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 250);
}

.networks-right-list::-webkit-scrollbar {
    width: 4px;
}

.networks-right-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(74, 74, 248);
}

.networks-right-list::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 250);
}

.center-left::-webkit-scrollbar {
    width: 4px;
}

.center-left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(74, 74, 248);
}


.center-left::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 250);
}

.center-Tables::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.center-Tables::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(74, 74, 248);
}

.center-Tables::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 250);
}